Repository ravinderjangra/safe-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ffi, api, cli

.github/labeler.yml:

ffi:
  - safe-ffi/*

api:
  - safe-api/*

cli:
  - safe-cli/*
  - safe-authd/*
  - jsonrpc-quic/*

run labeler on PR
  .github/workflows/label.yml
Labels: none

Update mod.rs
  safe-ffi/ffi/mod.rs
Labels: none

Create rust.yml
  .github/workflows/rust.yml
Labels: none

chore(rustfmt): make rustfmt issue
  safe-ffi/ffi/mod.rs
Labels: none

chore(rustfmt): add rustfmt changed
  safe-ffi/ffi/mod.rs
Labels: none

Update rust.yml
  .github/workflows/rust.yml
Labels: none

make it fail fmt
  safe-ffi/ffi/mod.rs
Labels: none

Update pr.yml
  .github/workflows/pr.yml
Labels: none

Update rust.yml
  .github/workflows/rust.yml
Labels: none

git create issue
  safe-ffi/ffi/mod.rs
Labels: none

create issue
  safe-ffi/ffi/mod.rs
Labels: none

Update rust.yml
  .github/workflows/rust.yml
Labels: none

Update rust.yml
  .github/workflows/rust.yml
Labels: none

more issue
  safe-ffi/ffi/mod.rs
Labels: none

fix space
  .github/workflows/rust.yml
Labels: none

chore(rustfmt): add rustfmt changed
  safe-ffi/ffi/mod.rs
Labels: none

Update rust.yml
  .github/workflows/rust.yml
Labels: none

make ci rustfmt fail
  safe-ffi/ffi/mod.rs
Labels: none

single quotes maybe?
  .github/workflows/rust.yml
Labels: none

remove the ${{}}
  .github/workflows/rust.yml
Labels: none

print some more variables
  .github/workflows/rust.yml
Labels: none

check github variable values
  .github/workflows/rust.yml
Labels: none

use values from the github event
  .github/workflows/rust.yml
Labels: none

try using token
  .github/workflows/rust.yml
Labels: none

fix/api: don't spawn the command when invoking authd executable
  safe-api/src/api/authd_client/authd_client_api.rs
Labels: none

Version change: safe-api-v0.10.1
  CHANGELOG.md
  Cargo.lock
  safe-api/Cargo.toml
Labels: api

docs/api: update safe-api docs format to be released on docs.rs
  safe-api/src/api/app/auth.rs
  safe-api/src/api/app/consts.rs
  safe-api/src/api/app/fetch.rs
  safe-api/src/api/app/files.rs
  safe-api/src/api/app/keys.rs
  safe-api/src/api/app/nrs.rs
  safe-api/src/api/app/nrs_map.rs
  safe-api/src/api/app/wallet.rs
  safe-api/src/api/app/xorurl.rs
  safe-api/src/api/authd_client/authd_client_api.rs
  safe-api/src/api/authenticator/auth.rs
  safe-api/src/api/common.rs
  safe-authd/shared.rs
Labels: cli

fix/cli: use rust stable as_deref function
  safe-cli/operations/auth_and_connect.rs
Labels: none

chore(api): add disconnect callback
  safe-api/src/api/app/auth.rs
  safe-api/src/api/app/safe_client_libs.rs
  safe-api/src/api/app/safe_net.rs
  safe-ffi/ffi/mod.rs
Labels: none

chore(api): update docs and tests for disconnect handler
  safe-api/src/api/app/fake_scl.rs
  safe-api/src/api/app/fetch.rs
  safe-api/src/api/app/files.rs
  safe-api/src/api/app/keys.rs
  safe-api/src/api/app/nrs.rs
  safe-api/src/api/app/safe_client_libs.rs
  safe-api/src/api/app/test_helpers.rs
  safe-api/src/api/app/wallet.rs
  safe-cli/operations/auth_and_connect.rs
  safe-cli/operations/fake_auth.rs
Labels: none

cli update for disconnect cb
  safe-cli/operations/auth_and_connect.rs
Labels: none

fix(ffi): ffi panic fix when media_type has no value
  safe-ffi/ffi/fetch.rs
Labels: none

chore(ffi): refactor files API to return FilesMap object
  safe-ffi/ffi/files.rs
Labels: none

chore(nlt): update network launch tool
  Cargo.lock
  safe-cli/operations/vault.rs
Labels: none

chore(clippy): add clippy fix
  safe-api/src/api/app/xorurl.rs
Labels: none

chore(deps): update scl and quinn dependencies
  Cargo.lock
  jsonrpc-quic/Cargo.toml
  safe-api/Cargo.toml
  safe-api/src/api/app/xorurl.rs
  safe-authd/Cargo.toml
  safe-cli/Cargo.toml
  safe-cmd-test-utilities/Cargo.toml
  safe-ffi/Cargo.toml
Labels: ffi, api, cli

chore(deps): update scl and quinn dependencies
  Cargo.lock
  jsonrpc-quic/Cargo.toml
  safe-api/Cargo.toml
  safe-authd/Cargo.toml
  safe-cli/Cargo.toml
  safe-cmd-test-utilities/Cargo.toml
  safe-ffi/Cargo.toml
Labels: ffi, api, cli

use dummy vaullt release
  .github/workflows/benchmark.yml
  .github/workflows/network-test.yml
Labels: none

chore(nlt): update network launch tool
  Cargo.lock
  safe-cli/operations/vault.rs
Labels: none

test/ci: disable tests with real network
  .github/workflows/network-test.yml
Labels: none
